<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inmobiliaria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.14.0-web/css/all.min.css" />
    <script defer src="~/lib/fontawesome-free-5.14.0-web/js/all.min.js"></script>
</head>
<body style="background-color: #EAF2F8;">
    <header>
        <nav class="navbar navbar-light navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" style="background-color: #e3f2fd;">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="navbar-brand btn btn-outline-info" asp-area="" asp-controller="Home" asp-action="Index"><img class="my-0" width="200" src="~/img/logo2.png"></a>
                    <a class="btn btn-outline-primary py-2 d-none d-md-inline-block float-right font-weight-bold" href="@Url.Link("login", null)"><i class="fas fa-sign-in-alt"></i>&ensp;Acceder</a>
                }
                else
                {
                    <div class="dropdown">
                        <a class="btn btn-outline-info dropdown-toggle font-weight-bold" href="#" role="button" id="homeMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent" data-display="static">
                            <img class="my-0" width="180" src="~/img/logo2.png">
                        </a>
                        <div class="dropdown-menu bg-info" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>&ensp; Inicio</a>
                            <a class="dropdown-item" asp-controller="Home" asp-action="Privacy"><i class="fas fa-user-lock"></i>&ensp; Claims</a>
                        </div>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">

                            </li>

                            @if (User.IsInRole("Administrador"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-black-50 font-weight-bold" asp-area="" asp-controller="Usuario" asp-action="Index"><i class="fas fa-users"></i>&ensp; Usuarios</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-black-50 font-weight-bold" asp-area="" asp-controller="Propietario" asp-action="Index"><i class="fas fa-user-tie"></i>&ensp; Propietarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black-50 font-weight-bold" asp-area="" asp-controller="Inquilino" asp-action="Index"><i class="fas fa-house-user"></i>&ensp; Inquilinos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black-50 font-weight-bold" asp-area="" asp-controller="Inmueble" asp-action="Index"><i class="fas fa-building"></i>&ensp; Inmuebles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black-50 font-weight-bold" asp-area="" asp-controller="Contrato" asp-action="Index"><i class="fas fa-file-contract"></i>&ensp; Alquileres</a>
                            </li> 
                        </ul>
                    </div>
                        <div class="dropdown">
                            <a class="btn btn-outline-primary dropdown-toggle font-weight-bold" href="#" role="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent" data-display="static">
                                <i class="far fa-user"></i>&ensp; @User.Identity.Name
                            </a>
                            <div class="dropdown-menu bg-info" aria-labelledby="dropdownMenuLink">
                                @if (!User.IsInRole("Administrador"))
                                {
                                    <a class="dropdown-item" asp-controller="Usuario" asp-action="Perfil"><i class="far fa-address-card"></i>&ensp; Perfil</a>
                                }
                                <a class="dropdown-item" asp-controller="Usuario" asp-action="Logout"><i class="fas fa-sign-out-alt"></i>&ensp; Salir</a>
                            </div>
                        </div>
                        }
                    </div>
</nav>
    </header>
    <div class="container">
        <main role="main" class="container">
            <div class="">
                @if (ViewBag.Id != null)
                {//alta exitosa
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>¡Éxito!</strong> La entidad fue dada de alta con id: @ViewBag.Id
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
            </button>
        </div> }
                    else if (ViewBag.Mensaje != null)
                    {//cartel general
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>Información:</strong> @ViewBag.Mensaje
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
            </button>
        </div> }
                    else if (ViewBag.Error != null)
                    {//error
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>¡Error!</strong> @ViewBag.Error
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
            </button>
        </div> }
                    else if (!String.IsNullOrWhiteSpace(ViewBag.Error))
                    {//ocurrió un error
        <environment names="Development">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>¡Error!</strong> Ocurrió: @ViewBag.Error
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                </button>
                <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"><span class="lnr lnr-plus-circle"></span></a>
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    @ViewBag.StackTrace
                </div>
            </div>
        </environment>}
                <div class="m-1 p-1">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Inmobiliaria - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
