@model IEnumerable<Inmobiliaria.Models.Pago>

@{
    ViewData["Title"] = "Pagos";
    Contrato contrato = ViewBag.Contrato;
}

<h1>Pagos</h1>

<h6 class="alert alert-info">Pagos correspondientes al contrato Nro: @contrato.Id a Nombre de @contrato.Inquilino.Nombre @contrato.Inquilino.Apellido 
 por el inmueble ubicado en @contrato.Inmueble.Direccion</h6>

<p>
    <a class="btn btn-primary" asp-action="Create" asp-route-id="@contrato.Id">Nuevo Pago</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id" title="Editar">Editar</a>
            </td>
            <td>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" title="Delete">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-secondary" asp-controller="Contrato" asp-action="Index">Volver</a>
</div>
