@model IEnumerable<Inmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Alquileres";
}

<h1>Alquileres</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear Contrato</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InmuebleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InquilinoId)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @(item.Inmueble.Direccion)
            </td>
            <td>
                @(item.Inquilino.Nombre + " " + item.Inquilino.Apellido)
            </td>
            <td>
                <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Id" title="Editar"><i class="far fa-edit"></i></a>
                <a class="btn btn-outline-info" asp-controller="Pago" asp-action="Index" asp-route-id="@item.Id" title="Pagos"><i class="fas fa-money-check-alt"></i></a>
                @if (User.IsInRole("Administrador"))
                {
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id" title="Eliminar"><i class="far fa-trash-alt"></i></a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
